name: Integration Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  integration:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 25.x
      uses: actions/setup-node@v4
      with:
        node-version: 25.x
        cache: 'npm'
    - run: npm ci
    - run: npm run test:integration
